
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@500&display=swap');

*{
    padding: 0; margin: 0;
}

body{
    background-color: rgb(50, 50, 50);
}

.alerta{
    width: 200px;
    height: 170px;
}


.bloco_1{
    width: 720px;
    height: 1550px;
    background-color: #ffff;
    border: solid 14px rgba(65, 6, 119, 0.589);
    border-radius: 10px;
    
    margin: 60px auto;
}

h1{
    font-family:'Archivo Black', sans-serif;
    background-color: rgba(65, 6, 119, 0.589);
    color: #ffff;
    padding: 30px 68px ;
    border-radius: 0 30px 30px 0;
    width: 560px;
    margin-top: 50px;
}

.nome{
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    font-weight: 800px;
    

}
p{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-weight: 800px;
    text-align: center;
}

hr{
    width: 680px;
    height: 3px;
    background-color: #744C84;
    margin: 20px auto;
    
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 800px;
    padding: 20px 0 40px 0;
    text-align: center;
}

.container_atividade{
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

li :hover{
    background-color: #560e72;
    box-shadow: 0 0 0 rgba(134, 132, 132, 0.514);
}

.botao{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #744C84;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 5px rgba(134, 132, 132, 0.514);
}




.botao_2{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #6220cd;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 5px rgba(134, 132, 132, 0.514);

}

.ul_1{
    padding-right: 100px;
}

a{
    text-decoration: none;
    color: #ffff;   
    font-weight: 600;

}

h3{

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding: 40px 0;

}
